@model IEnumerable<MyRateApp2.Models.UniversityRating>

@{
    ViewData["Title"] = "ShowRating";
}
@foreach(var item in Model){
    <h1>@Html.DisplayFor(modelItem => item.Uni.Name)</h1>
    break;
}

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reputation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opportunity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Happiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Safety)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Overall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uni)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reputation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opportunity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Happiness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facilities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Safety)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clubs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Social)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Internet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Overall)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uni.Name)
                </td>
                @* <td>
                    <a asp-action="Edit" asp-route-id="@item.UniRatingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.UniRatingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.UniRatingId">Delete</a>
                </td> 
            </tr>
        }
    </tbody>
</table> *@


 <style>
  .feedback-card {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  .feedback-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .feedback-card-header .rating {
    font-size: 3em;
    color: #06BBCC;
    font-weight: bold;
    margin-right: 10px;
  }
  .feedback-card-header .date {
    font-size: 0.8em;
    color: #666;
  }
  .feedback-card-body {
    margin-bottom: 20px;
  }
  .feedback-card-body .comment {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .category .category-name {

    font-size: 0.9em;
  }
  .category .rating-bar {
    background-color: #ddd;
    border-radius: 5px;
    width: 70%;
    height: 8px;
    position: relative;
  }
  .category .rating-bar::after {
    content: '';
    display: block;
    background-color: #06BBCC;
    height: 8px;
    border-radius: 5px;
    position: absolute;
    align-items: ;
  }
  .feedback-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
  }
  .feedback-card-footer .helpful {
    cursor: pointer;
  }
  .feedback-card-footer .comments {
    cursor: pointer;
  }

    .category {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

        .category .category-name,
        .category .rating-value {
            white-space: nowrap;
        }

        .category .rating-bar-container {
            flex: 1; /* Allows the bar container to fill the space */
            margin: 0 10px;
            background-color: #ddd;
            border-radius: 5px;
            height: 8px;
            position: relative;
        }

        .category .rating-bar {
            background-color: #06BBCC;
            border-radius: 5px;
            height: 100%;
            position: absolute;
        }

    body {
        background: #dcdcdc;
    }

    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }

    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }

    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }

    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }

    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }

    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }

    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }

    .rating-list-center {
        width: 80%;
    }

    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }

    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }

    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }

    .offer-dedicated-nav .nav-link.active,
    .offer-dedicated-nav .nav-link:hover,
    .offer-dedicated-nav .nav-link:focus {
        border-color: #3868fb;
        color: #3868fb;
    }

    .offer-dedicated-nav .nav-link {
        border-bottom: 2px solid #fff;
        color: #000000;
        padding: 16px 0;
        font-weight: 600;
    }

    .offer-dedicated-nav .nav-item {
        margin: 0 37px 0 0;
    }

    .restaurant-detailed-action-btn {
        margin-top: 12px;
    }

    .restaurant-detailed-header-right .btn-success {
        border-radius: 3px;
        height: 45px;
        margin: -18px 0 18px;
        min-width: 130px;
        padding: 7px;
    }

    .text-black {
        color: #000000;
    }

    .icon-overlap {
        bottom: -23px;
        font-size: 74px;
        opacity: 0.23;
        position: absolute;
        right: -32px;
    }

    .menu-list img {
        width: 41px;
        height: 41px;
        object-fit: cover;
    }

    .restaurant-detailed-header-left img {
        width: 88px;
        height: 88px;
        border-radius: 3px;
        object-fit: cover;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .reviews-members .media .mr-3 {
        width: 56px;
        height: 56px;
        object-fit: cover;
    }

    .rounded-pill {
        border-radius: 50rem !important;
    }

    .total-like-user {
        border: 2px solid #fff;
        height: 34px;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
        width: 34px;
    }

    .total-like-user-main a {
        display: inline-block;
        margin: 0 -17px 0 0;
    }

    .total-like {
        border: 1px solid;
        border-radius: 50px;
        display: inline-block;
        font-weight: 500;
        height: 34px;
        line-height: 33px;
        padding: 0 13px;
        vertical-align: top;
    }

    .restaurant-detailed-ratings-and-reviews hr {
        margin: 0 -24px;
    }

    .graph-star-rating-header .star-rating {
        font-size: 17px;
    }

    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;
    }

    .rating-list {
        display: inline-flex;
        margin-bottom: 15px;
        width: 100%;
    }

    .rating-list-left {
        height: 16px;
        line-height: 29px;
        width: 10%;
    }

    .rating-list-center {
        width: 80%;
    }

    .rating-list-right {
        line-height: 29px;
        text-align: right;
        width: 10%;
    }

    .restaurant-slider-pics {
        bottom: 0;
        font-size: 12px;
        left: 0;
        z-index: 999;
        padding: 0 10px;
    }

    .restaurant-slider-view-all {
        bottom: 15px;
        right: 15px;
        z-index: 999;
    }

    .progress {
        background: #f2f4f8 none repeat scroll 0 0;
        border-radius: 0;
        height: 30px;

    }
</style> 


@if (Model != null && Model.Any())
{
    var reputationAverage = Model.Select(x => x.Reputation).Average();
    reputationAverage = (reputationAverage / 5) * 100;
    var happinessAverage = Model.Select(x => x.Happiness).Average();
    happinessAverage = (happinessAverage / 5) * 100;
    var opportunityAverage = Model.Select(x => x.Opportunity).Average();
    opportunityAverage = (opportunityAverage / 5) * 100;
    var internetAverage = Model.Select(x => x.Internet).Average();
    internetAverage = (internetAverage / 5) * 100;
    var facilitiesAverage = Model.Select(x => x.Facilities).Average();
    facilitiesAverage = (facilitiesAverage / 5) * 100;
    var clubsAverage = Model.Select(x => x.Clubs).Average();
    clubsAverage = (clubsAverage / 5) * 100;
    var safetyAverage = Model.Select(x => x.Safety).Average();
    safetyAverage = (safetyAverage / 5) * 100;
    var locationAverage = Model.Select(x => x.Location).Average();
    locationAverage = (locationAverage / 5) * 100;
    var socialAverage = Model.Select(x => x.Social).Average();
    socialAverage = (socialAverage / 5) * 100;
    var foodAverage = Model.Select(x => x.Food).Average();
    foodAverage = (foodAverage / 5) * 100;
    // ... other categories

    <div class="bg-white rounded shadow-sm p-4 mb-4 clearfix graph-star-rating" style=" width:75%; margin:auto;">
        <h5 class="mb-0 mb-4">Overall Rating</h5>
        <div class="graph-star-rating-header">
            <div class="star-rating">
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating active"></i></a>
                <a href="#"><i class="icofont-ui-rating"></i></a> <b class="text-black ml-2"></b>
            </div>
            <p class="text-black mb-4 mt-2"></p>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Reputation
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @reputationAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@reputationAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Happiness
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @happinessAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@happinessAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Opportunity
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @opportunityAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@opportunityAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Internet
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @internetAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@internetAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Facilities
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @facilitiesAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@facilitiesAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Clubs
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @clubsAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@clubsAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Safety
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @safetyAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@safetyAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Location
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @locationAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@locationAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Social
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @socialAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@socialAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-body">
            <div class="rating-list">
                <div class="rating-list-left text-black">
                    Food
                </div>
                <div class="rating-list-center">
                    <div class="progress">
                        <div style="width: @foodAverage%" aria-valuemax="5" aria-valuemin="0" aria-valuenow="5" role="progressbar" class="progress-bar bg-primary">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
                <div class="rating-list-right text-black">@foodAverage.ToString("0")%</div>
            </div>
        </div>
        <div class="graph-star-rating-footer text-center mt-3 mb-3">
            <button type="button" class="btn btn-outline-primary btn-sm"> <a asp-action="Create">Rate</a></button>
        </div>
    </div>
}
else
{
    // Model is empty, display a message or handle accordingly.
    <div>No data available.</div>
}






@foreach (var item in Model)
{
    <div class="feedback-card">
        <div class="feedback-card-header">
            <div class="rating">@Html.DisplayFor(modelItem => item.Overall)</div>
            <div class="date">@Html.DisplayFor(modelItem => item.CreationDate)</div>
        </div>
        <div class="feedback-card-body">
            <div class="comment">
                @Html.DisplayFor(modelItem => item.Comment)
            </div>

            <!-- Category Rating Row -->
            <div class="category">
                <div class="category-name">Reputation</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Reputation * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Reputation)</div>
            </div>
            <div class="category">
                <div class="category-name">Location</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Location * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Location)</div>
            </div>
            <div class="category">
                <div class="category-name">Opportunities</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Opportunity * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Opportunity)</div>
            </div>
            <div class="category">
                <div class="category-name">Facilities</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Facilities * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Facilities)</div>
            </div>
            <div class="category">
                <div class="category-name">Internet</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Internet * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Internet)</div>
            </div>
            <div class="category">
                <div class="category-name">Food</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Food * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Food)</div>
            </div>
            <div class="category">
                <div class="category-name">Clubs</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Clubs * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Clubs)</div>
            </div>
            <div class="category">
                <div class="category-name">Social</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Social * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Social)</div>
            </div>
            <div class="category">
                <div class="category-name">Happiness</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Happiness * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Happiness)</div>
            </div>
            <div class="category">
                <div class="category-name">Safety</div>
                <div class="rating-bar-container">
                    <div class="rating-bar" style="width: @(item.Safety * 10)%"></div>
                </div>
                <div class="rating-value">@Html.DisplayFor(modelItem => item.Safety)</div>
            </div>
            <!-- Repeat for other categories, make sure to replace 'Reputation' with the actual category name and adjust the width accordingly -->
            <!-- ... other categories -->

        </div>
        <div class="feedback-card-footer">
            <!-- Footer content -->
        </div>
    </div>
}